node_modules

babel.config.js

CHANGELOG.md

CONTRIBUTING.md

ISSUE_TEMPLATE.md

jest.config.js

LICENSE

public/img/brand/logo.svg

public/img/brand/sygnet.svg

src/assets/scss/_custom.scss

src/assets/scss/_ie-fix.scss

src/assets/scss/_variables.scss

src/assets/scss/vendors/_variables.scss

src/assets/scss/vendors/chart.js/chart.scss

src/commons/Autocomplete.vue
